@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Helvetica */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-w-[320px]
    box-border
    bg-backgroundLight
    overflow-x-hidden
    font-korean
    break-keep

    dark:bg-background;
  }

  *:lang(ko) {
    @apply font-korean;
  }

  *:lang(en) {
    @apply font-alphabet;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  a,
  blockquote {
    @apply leading-snug text-xl
    box-border
    text-textColorLight

    dark:text-textColor;
  }

  img {
    @apply select-none
    pointer-events-auto;
  }

  div {
    @apply box-border;
  }

  h1 {
    @apply text-7xl font-light;
  }

  h2 {
    @apply text-2xl whitespace-nowrap
        font-medium

        md:text-3xl
        lg:text-4xl;
  }

  h3 {
    @apply font-light
        text-base

        sm:text-xl;
  }

  h3.mild {
    @apply font-normal text-textGrayLight

    dark:text-textGray;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply font-bold
    text-lg
    text-center

    md:text-2xl;
  }

  h6 {
    @apply text-lg

    md:text-2xl;
  }

  p {
    @apply text-xs font-normal
        lg:text-sm;
  }

  li {
    @apply font-extralight;
  }

  a {
    @apply font-extralight no-underline;
  }
}

@layer components {
  .cursor {
    @apply fixed pointer-events-none z-50 
    w-20 h-20 bg-disabled opacity-80 rounded-full 
    mix-blend-overlay
    transition-transform duration-75 ease-out;
  }

  .custom-trans {
    @apply transition-all duration-300 ease-[cubic-bezier(.08,.78,.53,1.11)];
  }

  .hide-smallview {
    @apply hidden leading-tight
        md:block;
  }

  .line {
    @apply w-full h-[1px] bg-textColor 
    block my-2 mb-12
    relative

    md:my-5 md:mb-24

    dark:bg-secondary;
  }

  .line-blur {
    @apply w-full h-[5px] bg-successLight opacity-20
        block
        filter blur-sm
        absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2

        dark:bg-secondary dark:opacity-100;
  }

  .line-secondary {
    @apply block w-full h-[2px] bg-textGray mb-5
        custom-trans
        
        md:mb-10

        dark:bg-disabled;
  }

  .line-animate {
    @apply animate-line-extend;
  }

  .li-centered {
    @apply flex justify-center items-center;
  }

  .skills-box {
    @apply w-auto px-3 py-2
        text-center
        border border-successLight rounded-md
        bg-successLight

        lg:py-1
        
        dark:border-success
        dark:bg-transparent;
  }

  .skills {
    @apply text-textColor
    text-sm font-extralight
    leading-none

    lg:text-lg

    dark:text-success;
  }

  .button-full {
    @apply w-[160px]
        px-3 py-2
        flex justify-between items-center
        border-2
        border-textColorLight
        bg-textColorLight
        text-textColor
        custom-trans
        text-sm
        
        hover:text-textColorLight
        hover:bg-opacity-5

        md:text-lg
        md:w-[200px] md:px-5 md:py-2
        
        dark:border-textColor
        dark:bg-textColor
        dark:text-primary
        dark:hover:text-textColor
        dark:hover:bg-opacity-10;
  }

  .nav-button-border {
    @apply border-b-2 border-transparent

    hover:border-textColorLight
    hover:border-opacity-80

    dark:hover:border-textColor;
  }

  .button-light {
    @apply px-0 py-1
        text-base
        font-normal
        whitespace-nowrap
        custom-trans
        text-textColorLight
        
        md:text-lg md:p-2

        dark:text-textColor;
  }

  .button-strong {
    @apply w-[70%] h-[50px]
        bg-accent
        custom-trans

        hover:bg-accentHover;
  }

  .nav-button {
    @apply px-0 py-1
        text-base
        whitespace-nowrap
        custom-trans
        text-textColor
        
        md:text-lg md:p-2

        dark:text-textColor;
  }

  .nav-button-side {
    @apply p-1
        border-b border-transparent
        custom-trans
        flex items-center gap-2
        cursor-pointer
        text-textColor
        text-base

        hover:-translate-x-3
        hover:border-textColor

        dark:text-textColor
        dark:hover:border-textColor;
  }

  .nav-button-side.active {
    @apply border-textColor

  dark:border-textColor;
  }

  .button-list {
    @apply px-2
        text-base
        border-b border-transparent
        custom-trans
        text-textGray

        hover:text-successLight

        xs:px-1 xs:py-1 
        md:text-lg
        md:px-6 md:py-1
        md:border-l-2

        dark:text-textColor
        dark:hover:text-success;
  }

  .button-list.active {
    @apply text-textColor px-2
    bg-background rounded-sm
    
    xs:px-1 xs:py-1 
    md:text-lg
    md:px-6 md:py-1
    md:border-l-2
    
    xs:text-successLight xs:bg-transparent

    dark:text-background dark:bg-success
    dark:xs:text-success dark:xs:bg-transparent;
  }

  .header-menu-container {
    @apply w-[120px] flex justify-between items-center
    
        md:w-[200px];
  }

  .narrow-nav-wrapper {
    @apply block

    md:hidden;
  }

  .nav-menu-wrapper {
    @apply w-full py-10
        sticky top-0 z-50
        hidden

        md:block;
  }

  .nav-menu-container {
    @apply w-full
     flex justify-end gap-10;
  }

  .nav-menu-container-col {
    @apply w-[100px] h-[300px] mt-32
        flex flex-col justify-between items-center 
        fixed top-0 right-5 z-50;
  }

  .menu-button {
    @apply w-10 h-10 
        text-2xl text-successLight 
        border-2 border-successLight rounded-full
        flex justify-center items-center
        fixed top-6 right-6 z-50 
        custom-trans

        hover:scale-110

        dark:text-success 
        dark:border-success;
  }

  .menu-button.close {
    @apply text-white border-2 border-white

    dark:text-success 
    dark:border-success;
  }

  .nav-overlay {
    @apply fixed top-0 left-0 z-40 w-full h-full 
    bg-shadowLight bg-opacity-80

    dark:bg-shadow
    dark:bg-opacity-80;
  }

  .icons {
    @apply text-3xl
        cursor-pointer
        custom-trans
        inline-block
        text-secondary

        hover:text-primaryLight

        md:text-4xl

        dark:text-textColor
        dark:hover:text-surface;
  }

  .skill-icons {
    @apply text-tertiaryLight
    fill-tertiaryLight
    cursor-pointer
    custom-trans
    
    dark:text-success
    dark:fill-success;
  }

  .soft-icon-box {
    @apply text-4xl
    md:text-6xl;
  }

  .soft-icon-box.active {
    @apply animate-scale-bounce;
  }

  .deployed {
    @apply px-1 py-2 
    text-xs
    text-strongGrayLight
    opacity-100
   

    md:text-sm md:px-3

    dark:text-success
    dark:opacity-50;
  }
}

@layer utilities {
  ::selection {
    @apply bg-tertiaryLight text-textColor

    dark:bg-tertiary;
  }

  *::-webkit-scrollbar {
    @apply w-2;
  }

  /* 스크롤바 트랙 (배경) */
  *::-webkit-scrollbar-track {
    @apply bg-none;
  }

  /* 스크롤바 핸들 (움직이는 부분) */
  *::-webkit-scrollbar-thumb {
    @apply bg-surface
    
    dark:bg-surface;
  }

  /* 스크롤바 호버 효과 */
  *::-webkit-scrollbar-thumb:hover {
    @apply opacity-20;
  }

  /* 스크롤바를 둥글게 만들고 싶은 경우 */
  *::-webkit-scrollbar-thumb {
    @apply rounded-full;
  }

  .wrapper {
    @apply min-w-[320px] 
    w-full
    px-6 pt-20 bg-backgroundLight
    flex flex-col items-center
    relative

    md:px-24 md:pt-28 
    lg:px-48

    dark:bg-background;
  }

  .wrapper-blur {
    @apply min-w-[320px]
    w-screen h-[80px] -ml-20 scale-125
        fixed top-0 transform -translate-y-1/2 z-20
        bg-backgroundLight 
        blur-xl

        md:-ml-24 md:h-[150px]
        lg:-ml-48

        dark:bg-shadow;
  }

  .header-wrapper {
    @apply w-full
        flex justify-between items-center
        select-none;
  }

  .title-wrapper {
    @apply w-full h-[700px]
        flex justify-between items-center
        relative z-10

        sm:mb-20
        md:h-[700px]
        lg:h-[800px];
  }

  .title-container {
    @apply w-full flex flex-col gap-5

        md:w-1/2 md:gap-10;
  }

  .item-index {
    @apply text-tertiaryLight text-base

    md:text-lg

    dark:text-tertiary;
  }

  .section-wrapper {
    @apply w-full pt-36 mb-[800px]
      flex flex-col items-center

      last:mb-[100px];
  }

  .section-title-container {
    @apply w-full flex justify-between items-center;
  }

  .section-semi-title {
    @apply w-[35%] 
    border-t-0 border-textColorLight
    flex justify-end gap-1 items-center

    md:w-[240px] md:border-t-2 md:pt-3

    dark:border-textColor;
  }

  .title-name {
    @apply text-successLight
    font-semibold
        text-3xl

        md:text-6xl
        lg:text-8xl

        dark:text-success;
  }

  .title-name.extra {
    @apply pt-1
    md:pt-3;
  }

  .name-container {
    @apply flex gap-5 items-center;
  }

  .name-tag {
    @apply w-[100px] py-10
      fixed bottom-5 left-0
      -rotate-90 z-50
      custom-trans
      
       hover:bg-opacity-20

       hidden

       md:block
       md:bottom-10 md:left-0;
  }

  .title-strong {
    @apply text-2xl text-tertiaryLight
        md:text-3xl
        lg:text-4xl

        dark:text-tertiary;
  }

  .semi-title-strong {
    @apply text-textColorLight
    
    dark:text-textColor;
  }

  .icons-box {
    @apply w-[160px]
        flex items-center justify-between

        sm:w-[160px]
        md:w-[200px];
  }

  .title-image-container {
    @apply aspect-[1/2]
    bg-backgroundLight
    relative hidden

    sm:w-3/4 sm:block
    md:w-1/2

    dark:bg-background;
  }

  .soft-card-wrapper {
    @apply w-[280px] grid gap-10
        grid-cols-1

        md:w-full md:gap-10
        md:grid-cols-2 md:grid-rows-2
        custom:grid-cols-4 custom:grid-rows-1;
  }

  .soft-card-container {
    @apply w-full pt-6
    
        h-[420px]
        flex flex-col justify-between items-center
        bg-white
        cursor-pointer select-none
        origin-bottom
        custom-trans

        hover:scale-110
        hover:shadow-xl

        md:aspect-square
        md:h-auto
        lg:aspect-square
        lg:h-auto
        custom:aspect-golden-reverse
        
        dark:bg-secondary;
  }

  .soft-card-container.deactive {
    @apply grayscale-[50%]
        brightness-50
        opacity-50

        hover:opacity-100
        hover:brightness-75;
  }

  .soft-card-box {
    @apply w-full h-full px-8 gap-3
    flex flex-col items-center

    md:gap-7
    lg:gap-6;
  }

  .soft-card-content {
    @apply h-full 
    flex flex-col items-center 
    gap-8

    md:h-[70%] 
    custom:h-[70%];
  }

  .soft-card-title {
    @apply whitespace-nowrap text-2xl;
  }

  .card-deact {
    @apply w-full h-4 mt-8 block 
    bg-secondary
    
    dark:bg-accent;
  }

  .card-deact.card-deactive {
    @apply bg-disabled;
  }

  .soft-p-box {
    @apply w-full overflow-y-scroll;
  }

  .hard-bar-main {
    @apply relative rounded-full
    bg-primaryLight
    w-full h-1
    hidden

    xs:block
    md:w-1 md:h-[192px]

    dark:bg-primary;
  }

  .hard-bar-item-wide {
    @apply bg-textColorLight
    rounded-full
    absolute z-20
    hidden

    md:inline-block
    md:w-full md:h-9

    dark:bg-surface;
  }

  .hard-bar-item-narrow {
    @apply inline-block bg-textColorLight
    rounded-full
    absolute z-20
    w-[80px] h-full

    md:hidden

    dark:bg-surface;
  }

  .project-grid {
    @apply w-full;
  }

  .project-card-wrapper {
    @apply w-full
        flex flex-col
        mb-36;
  }

  .project-card-container {
    @apply w-full
        flex flex-col justify-between

        md:flex-row;
  }

  .project-image-container {
    @apply w-full aspect-golden bg-blue-900
        mb-5
        max-h-[333px]

        md:w-short md:aspect-golden
        md:mb-0;
  }

  .project-img {
    @apply w-full h-full 
    shadow-xl
    object-cover;
  }

  .project-img-overlay {
    @apply bg-black
    bg-opacity-60 opacity-0 
    items-center justify-center
    absolute inset-0 
    group-hover:opacity-100 
    transition-opacity flex;
  }

  .project-text-container {
    @apply flex-1 ml-0 flex flex-col 
    gap-5 items-start

        md:ml-10 md:justify-between;
  }

  .project-text-box {
    @apply flex flex-col gap-2
    
    md:gap-3;
  }

  .project-title-box {
    @apply flex items-center gap-3;
  }

  .project-description {
    @apply text-tertiaryLight

    dark:text-tertiary;
  }

  .skills-container {
    @apply flex flex-wrap items-center
        gap-2
        mt-3

        sm:gap-3;
  }

  .skills-strong {
    @apply text-lg
  text-tertiaryLight

    md:text-2xl

    dark:text-success;
  }

  .contact-wrapper {
    @apply w-full h-[500px] py-24
        flex flex-col items-center gap-20;
  }

  .contact-container {
    @apply flex  gap-2 items-center

    md:gap-5;
  }

  .contact-title-container {
    @apply flex flex-col gap-7;
  }

  .contact-title-box {
    @apply w-[120px]
    flex items-center justify-between
    cursor-pointer

    md:w-[250px]
    lg:w-[350px];
  }

  .contact-name {
    @apply text-textGrayLight
    text-3xl
    font-medium
    custom-trans

    group-hover:text-tertiaryLight

    md:text-6xl
    lg:text-8xl

    dark:text-textGray
    dark:group-hover:text-success;
  }

  .contact-name.clicked {
    @apply animate-scale-bounce
    text-tertiaryLight

    dark:text-success;
  }

  .contact-text {
    @apply text-lg
    text-textGrayLight

    md:text-2xl

    dark:text-textGray;
  }

  .contact-text.clicked {
    @apply text-textColorLight

    dark:text-textColor;
  }

  .contact-link {
    @apply text-textGrayLight
    px-4 py-2
    font-extralight
    rounded-sm
    text-lg
    custom-trans

    hover:bg-surfaceLight
    hover:text-textColor

    md:text-xl

    dark:text-textGray
    dark:hover:text-textColor
    dark:hover:bg-surface;
  }

  .contact-ending {
    @apply text-base text-center

    md:text-xl;
  }

  .contact-ending-box {
    @apply w-auto flex flex-col items-center gap-3
    
    md:gap-5;
  }

  .contact-ending.strong {
    @apply p-1 rounded-sm
    text-textColor
    bg-textColorLight

    md:py-1 md:px-2

    dark:text-background
    dark:bg-textColor;
  }

  .active {
    @apply scale-[102%];
  }

  .deactivate {
    @apply grayscale-[20%]
    opacity-50;
  }

  .hard-wrapper {
    @apply w-full 
    flex flex-col items-center
    gap-5

    md:flex-row md:justify-between md:items-start
    md:w-3/4 
    lg:gap-8;
  }

  .hard-category-container {
    @apply w-[270px]
    flex flex-col
    xs:w-[500px]
    md:w-1/4 md:mt-12 md:flex-row;
  }

  .hard-list-container {
    @apply w-full pr-4
    flex flex-row justify-between
        
    md:w-auto md:m-0
    md:flex-col md:justify-between;
  }

  .hard-items-wrapper {
    @apply w-full py-2 ml-0

        md:w-full
        lg:w-full;
  }

  .hard-card-wrapper {
    @apply w-full flex justify-between px-24;
  }

  .hard-card-line {
    @apply w-[300px] h-[400px]
        rounded-md
        border border-surfaceLight
        relative

        dark:border-surface;
  }

  .hard-card-blur {
    @apply w-[300px] h-[400px]
        rounded-md
        border border-surfaceLight
        filter blur-sm
        absolute top-0 left-0

        dark:border-surface;
  }

  .hard-card-container {
    @apply w-full h-full p-10;
  }

  .hard-description {
    @apply font-bold mb-5;
  }

  .hard-text {
    @apply text-base;
  }

  .skill-image-container {
    @apply w-[70px] h-[70px] p-3
        bg-white
        border-2 border-white
        flex justify-center items-center
        flex-shrink-0
        shadow-xl

        md:w-[100px] md:h-[100px]

        dark:bg-surface
        dark:border-success;
  }

  .skill-card-title {
    @apply font-semibold;
  }

  .skill-card-text {
    @apply opacity-50
    custom-trans

    group-hover:opacity-100;
  }

  .top-button-container {
    @apply fixed bottom-5 right-5 custom-trans
    flex flex-col items-center gap-5;
  }

  .top-button {
    @apply border-y-2 border-successLight text-successLight p-3
      flex flex-col items-center gap-5
   
      
        hover:bg-white
        hover:bg-opacity-20

        md:bottom-10 md:right-10

        dark:border-success
        dark:text-success
        dark:hover:bg-success
        dark:hover:bg-opacity-20;
  }

  .profile-image01 {
    @apply w-full
    absolute
    opacity-100
    mix-blend-overlay
    transition duration-75 ease-out

  
    hover:opacity-0;
  }

  .profile-image02 {
    @apply w-full
    absolute
    opacity-0
    mix-blend-exclusion
    transition duration-75 ease-out

    hover:opacity-100;
  }

  .footer {
    @apply py-12
    flex flex-col items-center gap-3;
  }

  .footer-item {
    @apply text-xs
    opacity-20;
  }

  .about-wrapper {
    @apply flex flex-col items-center gap-10;
  }

  .about-container {
    @apply w-full min-w-[280px]
    bg-secondaryLight
    p-5
    flex flex-col gap-3
    shadow-xl
    
    md:w-3/4 md:gap-10 md:p-10

    dark:bg-secondary;
  }

  .about-title {
    @apply whitespace-break-spaces;
  }

  .about-text-box {
    @apply flex flex-col gap-2

    md:gap-5;
  }

  .about-p {
    @apply leading-loose;
  }

  .about-span {
    @apply text-xs
    lg:text-sm
    text-textColor
    px-1 py-1
    bg-tertiaryLight
    rounded-sm
    whitespace-nowrap

    dark:bg-surface;
  }

  .dark-button {
    @apply w-10 h-10
    flex justify-center items-center 
    border-2 border-textColorLight rounded-full 
    text-textColorLight
    custom-trans
    
    hover:scale-110

    dark:border-textColor
    dark:text-textColor;
  }
}
