@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Helvetica */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import '/src/styling/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-korean
        break-keep
      }
      
      /* 한글에만 Pretendard 적용 */
      *:lang(ko) {
        @apply font-korean
      }
      
      /* 알파벳에 Helvetica 적용 */
      *:lang(en) {
        @apply font-alphabet
      }
      

    h1, h2, h3, h4, h5, h6, p, span, li, a, blockquote {
        @apply leading-snug text-xl
      }

    h1 {
        @apply text-7xl font-light
    }

    h2 {
        @apply text-2xl whitespace-nowrap

        md:text-3xl
        lg:text-4xl
    }

    h3 {
        @apply font-light
        text-lg

        md:text-xl
    }

    h4 {
        @apply text-xl
    }

    h5 {
        @apply font-bold
    }

    h6 {
        @apply text-2xl
    }

    p {
        @apply text-sm font-extralight

        md:text-lg
    }

    li {
        @apply font-extralight
    }

    a {
        @apply font-extralight
    }
}

@layer components {

    .hide-smallview {
        @apply
        hidden 
        md:block
    }

    .line {
        @apply 
        w-full h-[3px] bg-secondary block my-2
        relative

        md:my-5
    }

    .line-blur {
        @apply 
        w-full h-[5px] bg-secondary block
        filter blur-sm
        absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    .li-centered {
        @apply
        flex justify-center items-center
    }

    .bottom-gap {
        @apply
        mb-1

        md:mb-3
    }
    
    .skills {
        @apply 
        w-auto px-2 py-1 mr-3 mb-3 text-center
        text-success
        border border-success
    }

    .small-p {
        @apply text-center text-base
    }

    .button-full {
        @apply
        px-5 py-2
        flex justify-between items-center
        border-2 border-textColor
        bg-textColor
        text-primary
        transition-colors duration-200 ease-in-out
        
        hover:bg-opacity-10
        hover:text-textColor
    }

    .button-light {
        @apply
        px-3 py-1
        text-base
        whitespace-nowrap
        border border-transparent
        transition-all duration-200 ease-in-out

        hover:border-textColor
        hover:border-opacity-50
        
        md:text-lg md:px-4 md:py-2
    }

    .button-strong {
        @apply
        w-[70%] h-[50px]
        bg-accent
        transition-all duration-200 ease-in-out

        hover:bg-accentHover
    }
    
    .button-side {
        @apply
        bg-accent pl-6 pr-16 py-3
        rounded-s-full

        hover:brightness-90 hover:-translate-x-3
    }

    .button-list {
        @apply
        px-4 py-2
        transition-all duration-200 ease-in-out

        hover:text-success
    }

    .button-list.clicked {
        @apply
        text-success
    }

    .header-menu-container {
        @apply
        w-[120px] flex justify-between items-center
    
        md:w-[200px]
    }

    .nav-menu-wrapper {
        @apply
        w-screen py-10 -mx-20 px-20
        flex justify-end
        sticky top-0 z-50

        md:-mx-24 md:px-24
        lg:-mx-48 lg:px-48
    }
    
    .nav-menu-container {
        @apply
        w-full flex justify-between items-center
        lg:w-long
    }

    .nav-menu-container.col {
        @apply
        h-1/2
        flex-col items-end
        fixed top-28 -right-4 z-50
    }

    .menu-button {
        @apply
        w-12 h-12 
        text-2xl text-success 
        border border-success rounded-full
        bg-background bg-opacity-50 
        flex justify-center items-center
        fixed top-10 right-10 z-50 
        transition-all duration-300 ease-in-out

        hover:scale-110 
    }

    .icons {
        @apply 
        text-4xl
        cursor-pointer
        transition-all duration-200 ease-in-out

        hover:text-surface
    }

    .skill-icons {
        @apply 
        fill-success
        cursor-pointer
        transition-all duration-200 ease-in-out
    }

    .soft-icon-box {
        @apply
        m-16
        text-6xl
    }

    .soft-icon-box.active {
        @apply
        animate-scale-bounce
    }
}

@layer utilities {
    ::selection {
        @apply bg-tertiary text-textColor
      }

    .wrapper {
        @apply 
        min-w-[320px]
        px-16 pt-20 bg-background

        md:px-24 md:pt-28
        lg:px-48
    }

    .wrapper-blur {
        @apply
        w-screen h-[80px] -ml-20 scale-125
        fixed top-0 transform -translate-y-1/2 z-20
        bg-shadow 
        blur-xl

        md:-ml-24 md:h-[150px]
        lg:-ml-48
    }

    .header-wrapper {
        @apply
        w-full
        flex justify-between items-center
        select-none
    }

    .title-wrapper {
        @apply
        w-full py-48
        flex items-center
        relative z-10
    }

    .title-container {
        @apply
        w-full

        md:w-1/2
    }

    .section-wrapper {
        @apply
        w-full pt-36 pb-[1000px]
    }

    .section-title-container {
        @apply
        w-full flex justify-between items-center
    }

    .section-semi-title {
        @apply
        w-[35%] pt-1 border-t-0 border-textColor flex justify-end

        md:w-[240px] md:border-t-2 md:pt-2
    }

    .title-name {
        @apply
        text-success 
        text-5xl

        md:text-6xl
        lg:text-8xl
    }

    .name-container {
        @apply
        flex mb-3
    }

    .name-tag {
        @apply
        w-[100px] py-10
        origin-left -rotate-90 
        sticky bottom-0 left-0 transition-transform -translate-x-[140px] 
        duration-300 ease-in-out
        select-none
    }

    .title-strong {
        @apply
        text-2xl text-tertiary

        md:text-3xl
        lg:text-4xl
    }

    .icons-box {
        @apply
        w-[140px] my-12
        flex justify-between items-center 
    }

    .title-image-container {
        @apply
        w-[1000px] h-[1000px] 
        absolute bottom-0 right-0 transform translate-x-48 translate-y-1/4 -z-10 
        bg-background 
        select-none
        opacity-10
        pointer-events-none
    }

    .soft-card-wrapper {
        @apply
        w-full grid gap-5
        grid-cols-1

        md:grid-cols-2 md:grid-rows-2
        lg:grid-cols-4 lg:grid-rows-1
    }

    .soft-card-container {
        @apply 
        w-full pt-6
        flex flex-col justify-between items-center
        bg-surface
        shadow-xl
        cursor-pointer select-none
        origin-bottom
        transition-all duration-200 ease-in-out

        hover:scale-110
        hover:shadow-xl

        md:aspect-golden-reverse
    }

    .soft-card-container.deactive {
        @apply
        grayscale-[50%]
        brightness-50
        opacity-50

        hover:opacity-100
        hover:brightness-75
    }

    .soft-card-box {
        @apply w-full h-full px-8
        flex flex-col items-center
    }

    .card-deact {
        @apply w-full h-4 mt-8 block bg-accent
    }

    .card-deact.card-deactive {
        @apply bg-disabled
    }

    .project-grid {
        @apply 
        w-full
 
    }

    .project-card-wrapper {
        @apply
        w-full
        flex flex-col
        mb-36
    }
    
    .project-card-container {
        @apply 
        w-full
        flex flex-col justify-between

        md:flex-row
    }

    .project-image-container {
        @apply
        w-full aspect-golden bg-blue-900

        md:w-short md:aspect-golden
    }
    
    .project-text-container {
        @apply
        flex-1 mt-5 ml-0 flex flex-col items-start

        md:ml-10
    }

    .skills-container {
        @apply 
        mt-5
        flex flex-wrap items-center
    }
    
    .skills-strong {
        @apply
        text-success
    }

    .contact-wrapper {
        @apply w-full flex justify-end
    }

    .contact-container {
        @apply 
        w-[80%] py-24
        bg-primary
        flex flex-col items-end
    }

    .contact-content {
        @apply
        w-long h-[500px] relative 
        flex flex-col justify-between
    }

    .contact-title {
        @apply
         bg-secondary px-16 py-10
        flex justify-between
    }

    .contact-text {
        @apply
        w-full flex-1 px-16 pt-10
        flex flex-col justify-between
    }

    .hard-card-wrapper {
        @apply w-full flex justify-between px-24
    }

    .hard-card-line {
        @apply w-[300px] h-[400px]
        rounded-md
        border-2 border-surface
        relative
    }

    .hard-card-blur {
        @apply 
        w-[300px] h-[400px]
        rounded-md
        border-2 border-surface
        filter blur-sm
        absolute top-0 left-0
    }

    .hard-card-container {
        @apply
        w-full h-full p-10
    }
/* 
    .hard-title {
        @apply
        font-alphabetStrong
        text-3xl text-tertiary mb-5
        text-center
    } */

    .hard-description {
        @apply
        font-bold mb-5
    }

    .hard-text {
        @apply
        text-base
    }

    .skill-image-container {
        @apply
        w-[100px] h-[100px] p-3 mr-5
        bg-surface
        /* border-2 border-success */
        flex justify-center items-center
        flex-shrink-0
    }

    .top-button {
        @apply
        fixed bottom-10 right-10
        border-y border-success text-success p-3
        transition
        
         hover:bg-success 
         hover:bg-opacity-20
    }
}